body{
  background-color: black;
}
.js-calculation-result{
  font-family: Arial;
  font-size: 45px;
  color: white;
  margin: 15px 0;
}

.btn{
  background-color: rgb(51, 51, 51);
  color: white;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 26px;
  cursor: pointer;
}

.btn:active{
  opacity: 80%;
}

.orange-btn{
  background-color: rgb(254, 160, 10);
}

.green-btn{
  background-color: rgb(3, 113, 3);
}

.clear{
  font-size: 15px;
}